body{
  background-color: rgb(0, 0, 0);
  width: 1200px;
  color: white;
  margin: auto;
}
.big-box{
  background-color: rgb(67, 67, 67);
  height: 500px;
  float: left;
  padding-top: 30px;
}
.chart{
  margin-top: 30px;
  background-color: rgb(233, 233, 233);
  width: 1000px !important;
  height: 300px !important;
  float: left;
  margin-left: 76px !important;
}
#navi{
  height: 60px;
  width: 1200px;
  float: left;
  background-color: rgb(31, 31, 31);
  padding: 0 !important;
}
.navibtn{
  float: left;
  width: 360px;
  height: 60px;
  margin: 20px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  color: rgb(211, 211, 211) !important;
  font-size: 25px !important;
  border-radius: 25px 25px 0 0 !important;
}
.navibtn:hover{
  background-color: rgb(109, 70, 70) !important;
}
.rivi{
  width: 1200px;
  height: 90px !important;
  margin-top: 20px;
  float: left;
  padding: 0 !important;
}
button{
  color: rgb(28, 187, 255) !important;
  background-color: rgb(87, 87, 87) !important;
  padding: 30px !important;
}
.taulukko{
  background-color: rgb(205, 205, 205) !important;
}
.tablebtn{
  padding: 10px !important;
}